<app-header></app-header>

<div class="row" style="margin-top: 18px;">
  <div class="small-12 columns">
    Select you picks for the {{vm.raceTrio.currentRace.year}} {{vm.raceTrio.currentRace.race_name}}
  </div>
</div>

<div data-ng-repeat="pick in [1,2,3,4,5,6,7,8,9,10]">
  <div class="row" style="margin-top: 3px;">
    <div class="small-12 columns">
      <div class="pick-position-indicator">{{pick}}</div>
      <select class="pick-selector"
              name="pickSelector{{pick}}"
              id="pickSelector{{pick}}"
              ng-options="driver.driver_id as driver.driver_name for driver in vm.raceDetails"
              ng-model="vm.playerPicks[pick-1]"
              ng-change="vm.pickSelected()">
      </select>
    </div>
  </div>
</div>

<app-footer></app-footer>
