<app-header></app-header>

<div class="row" style="margin-top: 18px;">
  <div class="small-12 columns">
    <div style="width: 40%; margin: 0 auto;">
      <span><b>Your picks for the {{vm.raceTrio.currentRace.year}} {{vm.raceTrio.currentRace.race_name}}</b></span>
      <ul style="list-style-type:none; margin-top:10px;">
        <li ng-repeat="driver in vm.selectedDrivers">{{$index+1}} {{driver.constructor_name}} - {{driver.driver_name}}</li>
      </ul>

      <div><b>You may edit your picks until</b></div>
      <div>{{vm.raceTrio.currentRace.cutoff_time_formatted}}</div>
      <div style="margin: auto; margin-top: 10px;" ng-if="vm.editAllowed">
        <button style="height: 37px; line-height: 0px; float: right;" ng-click="vm.edit()">Edit</button>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
