$font-stack:    FontAwesome, Helvetica, sans-serif;
$primary-color: #111;

.f1-title {
  font: 100% $font-stack;
  color: $primary-color;
  font-size: 28px;
}

.divider{
  position:absolute;
  left:50%;
  top:10%;
  bottom:10%;
  border-left:1px solid darkslategrey;
}

.footer-row {
  background-color: transparent;
}
